.nav-link {
    font-size: 1.8rem;
    margin: 0 2rem !important;
}

.active {
    font-weight: 600;
}

.navbar-brand {
    height: 4.7rem;
    width: auto;
    margin-left: 1rem !important;
}

#main {
    margin: 2rem 2rem !important;
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for Firefox */
html {
    scrollbar-width: none;
    /* For Firefox */
}

.secondHeader {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.thirdHeader {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.bold {
    font-weight: bold;
}