.nav-link {
    font-size: 1.8rem;
    margin: 0 2rem !important;
}

.active {
    font-weight: 600;
}

.navbar-brand {
    height: 5rem;
    width: auto;
    margin-left: 1rem !important;
}

#main {
    margin: 2rem 2rem !important;
}

/* For Webkit browsers like Chrome and Safari */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* For Firefox */
html {
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;

    /* Firefox doesn't support radius around scrollbar thumb */
}

.secondHeader {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.thirdHeader {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.bold {
    font-weight: bold;
}