.nav-link {
    font-size: 1.8rem;
    margin: 0 2rem !important;
}

nav {
    background-color: rgb(180, 180, 180);
}

.active {
    font-weight: 600;
}

.navbar-brand {
    height: 5rem;
    width: auto;
    margin-left: 1rem !important;
}

#main {
    margin: 2rem 2rem !important;

    margin-top: 6rem !important;
}

/* For Webkit browsers like Chrome and Safari */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* For Firefox */
html {
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;

    /* Firefox doesn't support radius around scrollbar thumb */
}

.secondHeader {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.thirdHeader {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.bold {
    font-weight: bold;
}

.nav-link {
    position: relative;
    overflow: hidden;
}

.nav-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #000;
    transform: translateX(-100%);
    transition: transform 0.5s ease-out;
}

.nav-link:hover::after {
    transform: translateX(0);
}

img:not([src$=".png"]) {
    transition: box-shadow 0.3s ease-out;
}

img:not([src$=".png"]):hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}
